.tableContainer {
display: flex;
align-items: center;
justify-content: center;
width: width 30%;
}

.red{
    color:#EF3636;
}

.green{
    color:green;
}

.tableCell{
    white-space: nowrap;
    max-width: 50vw;
}

.simButton{
    padding-top: 14px;
    padding-bottom: 10px;
}

.counter{
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.zionImage{
background-image: url('../Images/zionWolves.png');
background-size: contain;
background-repeat: no-repeat;
background-position: top;
padding-top: 10px;
}

.morantImage{
background-image: url('../Images/ja_morant.jpg');
background-size: contain;
background-repeat: no-repeat;
background-position: top;
}
