/* .tableContainer {
display: flex;
align-items: center;
justify-content: center;
padding-bottom: 10px;

}
.lottoTable{
    max-width: 500px;
    align-items: center;
    display: center;
} */
.red{
    color:#EF3636;
}
.green{
    color:#78BE20;
}
.white{
    color: white;
}

.place{
    
    justify-content: space-between;
}
.tableCell{
    justify-content: space-between;
}