.tableContainer {

display: flex;
align-items: center;
justify-content: center;
padding-bottom: 10px;
}
.lottoTable{
    max-width: 500px;
    align-items: center;
    justify-content: center;
    display: flex;
}
