.head {
    padding-top:10px;
    background-image: linear-gradient(#dd9b4f, white);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: 5px;
    height:100px;
}

.wolves{
    padding-top:10px;
    background-image: linear-gradient(-90deg, #0c2340,#236192, #78be20);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:white;
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: 5px;

}
