.App {
  margin-top:0;
  display:flex;
  text-align: center;
  align-items: center;
  align-content: space-between; 
  justify-content: space-between;
  flex-direction: row;

}
.container{
  margin-top:0px;
}

@media only screen and (max-width: 700px) {
  .courtRight { 
    display:none;
  }
  .courtLeft {
    display:none;
  }
  .karlBBQ{
    display: none;
  }
  .karlSmirk{
    display: none;
  }
}

.courtRight { 
  max-width:480;
  min-height: 793px;
  background-image: url('./Images/Court_Right.png');
  background-position:right;
  background-repeat: no-repeat;
  background-size: cover;
}
.courtRight::after {
  max-width:480;
  min-height: 793px;
  display: block;
  position: relative;
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0) 0, #fff 100%);
  height: 150px;
  width: 100%;
  content: '';
}
.courtLeft {
  max-width:480;
  min-height: 793px;
  background-image: url('./Images/Court_Left.png');
  background-position:left;
  background-repeat: no-repeat;
  background-size: cover;
}
.courtLeft::after {
  max-width:480;
  min-height: 793px;
  display: block;
  position: relative;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0, #fff 100%);
  height: 150px;
  width: 100%;
  content: '';
}

.karlSmirk{
  max-width:480;
  min-height: 793px;
  background-image: url('./Images/karlSmirk.jpg'),url('./Images/old_wolves.png');
  background-position:right bottom, right top;
  background-repeat: no-repeat, no-repeat;
  background-size: contain, contain;
  padding: 15px;
}

.karlBBQ{
  max-width:480;
  min-height: 793px;
  background-image: url('./Images/karlBBQ.jpg'), url('./Images/newWolves.png');
  background-position:right bottom, right top;
  background-repeat: no-repeat, no-repeat;
  background-size: contain, contain;
  padding: 10px;
  
}
.lottoTable{

}