.App {
  margin-top:0;
  display:flex;
  text-align: center;
  /* background-color: black; */
  align-items: center;
  align-content: space-between; 
  justify-content: space-between;
  flex-direction: row;

}
.container{
  margin-top:0px;
}
.courtLeft {
  max-width:480;
  min-height: 1000px;
  background-image: url('./Images/Court_Left.png');
  background-position:left;
  background-repeat: no-repeat;
  background-size: cover;
}
.courtRight { 
  max-width:480;
  min-height: 1000px;
  background-image: url('./Images/Court_Right.png');
  background-position:right;
  background-repeat: no-repeat;
  background-size: cover;
}